

    <main>
        <div class="main-inner">
            <h2 class="top-title">新着依頼</h2>
            <div class="column-wrapper">
                <div class="column-left">
                    <div class="category-area">
                        <h3 class="category-title">カテゴリー</h3>
                        <ul class="category-list">
                            <li class="category-item">Excel</li>
                            <li class="category-item">IT</li>
                            <li class="category-item">業務経験</li>
                            <li class="category-item">写真</li>
                            <li class="category-item">イラスト</li>
                            <li class="category-item">スポーツ</li>
                            <li class="category-item">資格</li>
                            <li class="category-item">デザイン</li>
                            <li class="category-item">ライティング</li>
                            <li class="category-item">その他</li>
                        </ul>
                    </div>
                </div>
                <div class="column-right">
                    
                </div>
            </div>
        </div>
    </main>