

<main>
    <div class="top-img-area">
            <%= image_tag "IMG_4335.JPG", class:"top-img" %>
    </div>
    <div class="main-inner">
        <h2 class="top-title">ようこそ！IS(八代市役所版)へ！！</h2>
        
        <h3 class="is-inst">Is(Internal Sourcing)は庁内版クラウドソーシングアプリです</h3>
        <div class="is-inst-wrapper">
            <p class="is-inst-detail">このWebアプリでは、特別な技能を必要とする仕事を庁内の他部署の職員へ発注することができます。</p>
            <p class="is-inst-detail">新規登録をすることで利用できます！</p>
        </div>
    </div>
</main>